*.pyc
*.swp
*.pkl
*.png
output*
data/*
*.env
*.code-workspace
*.egg-info
*.txt
*.pdf
logs/*
*.parquet
temp/*
.temp
*.log
.tmp/
*.pickle
tmp*
*.venv
package-lock.json
*.bk
/out/*
node_modules/*
*.vsix

